Repository archerysec/archerysec, pull requests merged in 2023-02, with the labels that each got.

#595 Enhanced & modular parsers
  archeryapi/views.py
  archerysecurity/settings/base.py
  dashboard/views.py
  report_upload/tests.py
  report_upload/views.py
  scanners/scanner_parser/cloud_scanner/prisma_cloud_csv.py
  scanners/scanner_parser/cloud_scanner/scoutsuite_js.py
  scanners/scanner_parser/cloud_scanner/wiz_security_csv.py
  scanners/scanner_parser/compliance_parser/dockle_json_parser.py
  scanners/scanner_parser/compliance_parser/inspec_json_parser.py
  scanners/scanner_parser/network_scanner/Nessus_Parser.py
  scanners/scanner_parser/network_scanner/OpenVas_Parser.py
  scanners/scanner_parser/network_scanner/nmap_parser.py
  scanners/scanner_parser/scanner_parser.py
  scanners/scanner_parser/staticscanner_parser/bandit_report_parser.py
  scanners/scanner_parser/staticscanner_parser/brakeman_json_report_parser.py
  scanners/scanner_parser/staticscanner_parser/checkmarx_xml_report_parser.py
  scanners/scanner_parser/staticscanner_parser/clair_json_report_parser.py
  scanners/scanner_parser/staticscanner_parser/dependencycheck_report_parser.py
  scanners/scanner_parser/staticscanner_parser/findbugs_report_parser.py
  scanners/scanner_parser/staticscanner_parser/gitlab_container_json_report_parser.py
  scanners/scanner_parser/staticscanner_parser/gitlab_sast_json_report_parser.py
  scanners/scanner_parser/staticscanner_parser/gitlab_sca_json_report_parser.py
  scanners/scanner_parser/staticscanner_parser/grype_report_json_parser.py
  scanners/scanner_parser/staticscanner_parser/nodejsscan_report_json.py
  scanners/scanner_parser/staticscanner_parser/npm_audit_report_json.py
  scanners/scanner_parser/staticscanner_parser/retirejss_json_parser.py
  scanners/scanner_parser/staticscanner_parser/semgrep_json_report_parser.py
  scanners/scanner_parser/staticscanner_parser/tfsec_report_parser.py
  scanners/scanner_parser/staticscanner_parser/trivy_json_report_parser.py
  scanners/scanner_parser/staticscanner_parser/twistlock_json_report_parser.py
  scanners/scanner_parser/staticscanner_parser/whitesource_json_report_parser.py
  scanners/scanner_parser/tools/nikto_htm_parser.py
  scanners/scanner_parser/web_scanner/acunetix_xml_parser.py
  scanners/scanner_parser/web_scanner/arachni_xml_parser.py
  scanners/scanner_parser/web_scanner/burp_xml_parser.py
  scanners/scanner_parser/web_scanner/netsparker_xml_parser.py
  scanners/scanner_parser/web_scanner/webinspect_xml_parser.py
  scanners/scanner_parser/web_scanner/zap_xml_parser.py
  templates/cloudscanners/scans/list_scans.html
  templates/dashboard/all_high_vuln.html
  templates/networkscanners/scans/list_scans.html
  templates/report_upload/upload.html
  templates/static/tools/npmaudit.png
  templates/static/tools/unknown.png
  templates/staticscanners/report_import.html
  templates/staticscanners/scans/list_scans.html
  templates/webscanners/scans/list_scans.html
Labels: enhancement

#599 Gitleak json report parsing
  scanners/scanner_parser/staticscanner_parser/gitleaks_json_report_parser.py
  templates/static/tools/gitleaks.png
Labels: New Scanner

#600 Vuls & Nmap Vulners parsers, few fixes
  archeryapi/views.py
  report_upload/views.py
  scanners/scanner_parser/network_scanner/nmapvulners_parser.py
  scanners/scanner_parser/scanner_parser.py
  scanners/scanner_parser/staticscanner_parser/vuls_json_report_parser.py
  templates/static/tools/nmap.png
  templates/static/tools/vuls.png
Labels: enhancement, New Scanner
